/[A-Z]*
Thumbs.db
*.pem
*.tmp
.CFUserTextEncoding
.DS_Store
.DS_Store
.Trash
.adobe
.atom
.backup
.bash_history
.berkshelf
.brew
.bundle
.byebug_hist
.cache
.ctrlp_cache
.cups
.docker/
.dockercfg
.drip
.dropbox
.ec2
.electrum
.emacs.d/
.erlang.cookie
.gem
.gist
.git
.gnupg
.gpg*
.gradle
.guard_history
.heroku
.hk
.irb-history
.irb_history
.jdk/
.lein/
.lesshst
.local
.m2/
.middleman
.muttrc
.netrc
.node-gyp
.npm
.nviminfo
.nvimlog
.nvm
.offlineimap/
.offlineimaprc
.oracle_jre_usage/
.overtone/
.postgres
.pry_history
.python-eggs
.rbenv/
.rbx/
.rediscli_history
.rnd
.rubinius_last_error
.rvm
.sh_history
.sqlite_history
.ssh
.subversion
.sup/
.travis
.trvs
.tugboat
.vagrant.d
.vim/.viminfo
.vim/bundle
.wireshark
.wireshark-etc
.zinc
.zsh/.*
.zsh/secrets.zsh
.zsh_history
