/[A-Z]*
*.pem
.DS_Store
.Trash
.adobe
.backup
.brew
.bundle
.cache
.ctrlp_cache
.cups
.dropbox
.ec2
.erlang.cookie
.gem
.git
.gnupg
.gpg*
.heroku
.irb-history
.irb_history
.lesshst
.netrc
.npm
.postgres
.rbenv/
.rbx/
.rubinius_last_error
.rvm
.ssh
.vagrant.d
.vim/bundle
.vim/.viminfo
.zsh/.*
.zsh_history
.pry_history
.DS_Store
Thumbs.db
