/[A-Z]*
*.pem
.DS_Store
.Trash
.adobe
.backup
.brew
.bundle
.ctrlp_cache
.cups
.dropbox
.ec2
.erlang.cookie
.gem
.gemrc
.git
.gitconfig
.gnupg
.gpg*
.heroku
.irb-history
.lesshst
.netrc
.postgres
.rbenv/
.rbx/
.rubinius_last_error
.rvm
.ssh
.vagrant.d
.vim/.*
.vim/bundle
.zsh/.*
.zsh_history
.pry_history
